__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
.venv/
venv/
.env
logs/
uploads/
/vectorstore/
backend/.env
backend/logs/*
!backend/logs/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep
/backend/vectorstore/*
!/backend/vectorstore/.gitkeep
!backend/app/vectorstore/
!backend/vectorstore/.gitkeep
frontend/.env
frontend/dist/
frontend/node_modules/
